@font-face {
  font-family: 'Alliance';
  src: url('assets/Alliance No.2 Regular.otf') format('opentype');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  font-family: 'Alliance';
  font-size: 2rem;
  font-weight: 300;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
}